.card {
    background-color: white;
    margin-top: 1.25em;
}

h2 {
	margin-top: 10px;
	font-size: 25px;
    font-weight: 700;
    color: #555;
    line-height: 50px;
}

.container{
    margin-top: 0em;
}