
h3 {
	font-size: 1.5em;
    font-weight: 300;
    color: #555;
	line-height: 1em;
	text-align: center;
}

.form-box {
	margin-top: 2em;
}

.form-top {
	overflow: hidden;
	padding: 0 1em 0.5em 1em;
	background: #f3f3f3;
	border-radius: 0.5em 0.5em 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 1.5em;
}

.form-top-left h3 { 
	margin-top: 0.3em;
	text-align: left;
 }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 0.45em;
	font-size: 4em;
	color: #ddd;
	line-height: 1em;
	text-align: right;
}

.form-bottom {
	padding: 1.5em 1.5em 1.5em 1.5em;
	background: #eee;
	border-radius: 0 0 0.5em 0.5em;
	text-align: left;
}

.alert-danger	{
	margin-top: 1em;
}